@model eWebBanHang.Models.Sanpham
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<  <h2>Thông tin chi tiết</h2>

<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hangsanxuat.Tenhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hangsanxuat.Tenhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Sanphammoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sanphammoi)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Anhbia)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Anhbia)" style="height:200px;width200px;margin:10px;"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Masp }) |
    @Html.ActionLink("Về trang chủ", "Index")
</p>
