<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Điện thoại</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel=" stylesheet" href="~/Content/Style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*@using Ictshop.Models*@

    <style type="text/css">
        body {
            background-color: #F8E0F7;
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar-inverse {
            background-color: #FF8000;
            border-color: #FF8000;
        }

        .top_header {
            background-color: white;
            padding-left: 10px;
            color: black;
        }

        .form-inline {
            float: left;
            padding-top: 10px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: x-large;
        }

        .navbar-inverse .navbar-brand {
            color: white;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: large;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: black;
            }

        .navbar-brand {
        }

        .spnoibat {
            background-color: white;
        }

            .spnoibat h3 {
                padding-left: 30px;
            }

        .giohang {
            color: white;
        }

    </style>



</head>

<body>

    @{
        var u = Session["use"] as eWebBanHang.Models.Nguoidung;
    }

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="top_header col-sm-12" style="background-color: #FFAC47 ">

            <marquee style=" padding: 1px; vertical-align: middle" behavior="scroll" scrollamount="9">
                <span>
                    <img src="~/images/hot_deal.png" height="20" width="20" style="margin-top: -5px" />
                    <a style="color: #1C1C1C">Nhanh chân đặt hàng Iphone 13 ngay tại cửa hàng chúng tôi để được giảm giá 500K</a>
                    <img src="~/images/iphone13.png" height="20" width="20" />
                </span>
            </marquee>



        </div>
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="~/images/logowebb.jpg" width="55" height="45" style="padding: 0; margin: 1px 10px 0 0;" />
                @Html.ActionLink("ShopBanHang", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <form class="form-inline">
                    <input class="form-control mr-sm-3" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">

                </form>

            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav" style="float: left; position: static;">
                    <li>
                        <a href="@Url.Action("laptoppartial", "Sanphams")" title="Laptop">

                            <span>Laptop</span>

                        </a>

                    </li>

                    <li>
                        <a href="@Url.Action("smartphonepartial", "Sanphams")" title="DT">
                            @*<span><i class="fas fa-desktop"></i></span>*@
                            <span>Điện thoại</span>

                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("tivipartial", "Sanphams")" title="Tivi">
                            @*<span><i class="fas fa-desktop"></i></span>*@
                            <span>Tivi</span>

                        </a>
                    </li>
                    <li>
                        <a href="/Home/Contact" title="LIENHE">
                            @*<span><i class="fas fa-headphones"></i></span>*@
                            <span>Liên Hệ</span>

                        </a>
                    </li>

                    <li>
                        <a style="color:white"
                           class="nav-link"
                           href="@Url.Action("Index", "DonHangs")">Đơn Hàng</a>
                    </li>

                    @{
                        if (u != null)
                        {
                            <li>
                                <p style="color: antiquewhite; margin: 0px 5px 0px 15px; ">Xin chào : @u.Email</p>
                                <a href="/User/DangXuat" style="font-size: 12px;margin: 0 0 0 10px; padding: 2px 7px 2px 10px; color: white; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; background-color: #EB1919; ">

                                    ĐĂNG XUẤT
                                </a>

                            </li>
                        }
                        else
                        {

                            <li style="display: inline-block;  margin-left: 15px"><a style="margin: 10px 7px 10px 10px; padding: 5px 5px 5px 5px; font-size: 15px; background-color: darkslategray; border-radius: 3px" href="/User/Dangky">Đăng ký</a></li>

                            <li style="display: inline-block; "><a style="margin: 10px 10px 10px 7px; padding: 5px 5px 5px 5px; font-size: 15px; background-color: darkslategray; border-radius: 3px" href="/User/Dangnhap">Đăng nhập</a></li>

                        }
                    }


                </ul>
                <form class="d-flex" style="float: right">
                    <a style="padding: 0; font-size: 10px">
                        @Html.Action("GioHangPartial", "GioHang", new { @style = "color:while; " })
                        @*<img class="navbar-brand" src="~/images/giohang.png" width="50" height="50" style="padding:0; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; float: right" />*@
                    </a>
                </form>

                <!--<div class="" style="float: right; position: relative">


                <div class="navbar-brand" style="float: left">-->
                @*<div class="col-sm-4 col-md-0" style="font-size:large" style="padding: 20px 20px">Error Team</div>*@


                <!--<!--<div class="col-sm-4 col-md-0" style="padding-left:250px">-->
                <!--@*@Html.Action("GioHangPartial", "GioHang", new { @class = "giohang" })*@-->
                <!--</div>-->
                <!--</div>

                </div>-->
            </div>


        </div>
    </div>


    <br>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>
            <img class="img-responsive" src="~/images/ban2.jpg" />
        </div>
        <br />
    </div>
    <footer class="bg-info" style="padding-left:50px">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h2>Bảo hành</h2>
                <span>Chính sách mua hàng</span>
                <br />
                <span>Chính sách bảo hành</span>
                <br />
                <span>Trung tâm bảo hành</span>
                <br />
                <span>Tra cứu bảo hành</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Liên kết</h2>
                <span>Tin tức Mobile</span>
                <br />
                <span>Lập trình Web</span>
                <br />
                <span>GenkVN</span>
                <br />
                <span>Dân trí</span>


            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Thông tin</h2>
                <span>Về chúng tôi</span>
                <br />
                <span>Liên hệ</span>
                <br />
                <span>Góp ý</span>
                <br />
                <span>Tra cứu</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Theo dõi</h2>
                <span>Kênh youtube</span>
                <br />
                <span>Fanpage</span>
                <br />
                <span>Shopee</span>
                <br />
                <span>Group</span>

            </div>
        </div>
        <hr />
        <center> <p class="bg-primary">&copy; @DateTime.Now.Year - Error Team</p></center>
    </footer>
    @*Bong Bong Mess*@
    <footer>
        <a id="0764780921" href="tel:0764780921"><div class="call-btn"><noscript><img src="https://netweb.vn/icon/phone.svg" /></noscript><img class=" lazyloaded" src="https://netweb.vn/icon/phone.svg" data-src="https://netweb.vn/icon/phone.svg"> 0764780921</div></a>

        <a href="https://www.facebook.com/duckyei" target="_blank"><div style="position:fixed;bottom:7px;right:12px;z-index:9999;" class="messenger"><noscript><img style="height:58px;" src="https://netweb.vn/icon/messenger_icon.png" /></noscript><img class=" lazyloaded" style="height:58px;" src="https://netweb.vn/icon/messenger_icon.png" data-src="https://netweb.vn/icon/messenger_icon.png"></div></a>

        <style>
            .call-btn {
                position: fixed;
                bottom: 24px;
                right: 165px;
                background: #37c837;
                text-align: center;
                color: #fff;
                box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
                z-index: 99;
                transition: all .3s;
                font-weight: 700;
                border-radius: 5px;
                padding: 3px 10px 0px 38px;
                font-size: 18px;
                line-height: 25px;
            }

                .call-btn img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    padding: 5px 7px;
                    background: rgba(0,0,0,0.3);
                    border-radius: 5px 0 0 5px;
                    animation: blinking 1s ease-in-out infinite;
                }
        </style>
    </footer>
    <footer>
        <a href="https://zalo.me/0828023068" class="numberzalo all" rel="nofollow" style="left: 220px">
            <img src="https://lh3.googleusercontent.com/X7JUHmDCeT845_MgAttYi_F8RsiHQr9ufnRqk2SiyiJZ1KBZgZek9wFOMuOwDuy4leA=w300" alt="0764780921">
        </a>
        <style>
            a.numberzalo {
                position: fixed;
                bottom: 15px;
                left: 110px;
                cursor: pointer;
                z-index: 9999;
            }

                a.numberzalo img {
                    width: 50px;
                    border-radius: 50%;
                }
        </style>
    </footer>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

