<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Điện thoại</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel=" stylesheet" href="~/Content/Style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*@using Ictshop.Models*@

    <style type="text/css">
        body {
            background-color: #F0F0F0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar-inverse {
            background-color: #FA600D;
            border-color: #FA600D;
        }

        .top_header {
            background-color: white;
            padding-left: 10px;
            color: black;
        }

        .form-inline {
            float: left;
            padding-top: 10px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: x-large;
        }

        .navbar-inverse .navbar-brand {
            color: white;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: large;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: black;
            }

        .navbar-brand {
        }

        .spnoibat {
            background-color: white;
        }

            .spnoibat h3 {
                padding-left: 30px;
            }

        .giohang {
            color: white;
        }
    </style>



</head>

<body>

    @*@{
            var u = Session["use"] as Ictshop.Models.Nguoidung;
        }*@

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="top_header col-sm-12">

            <marquee style=" padding: 1px; vertical-align: middle" behavior="scroll" scrollamount="9">
                <span>
                    <img src="~/HinhAnhSP/hot_deal.png" height="20" width="20" style="margin-top: -5px" />
                    <a style="color: black">Nhanh chân đặt hàng Iphone 13 ngay tại cửa hàng chúng tôi để được giảm giá 500K</a>
                    <img src="~/HinhAnhSP/iphone13.png" height="20" width="20" />
                </span>
            </marquee>



        </div>
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="~/HinhAnhSP/iconHome.png" width="55" height="45" style="padding: 0; margin: 1px 10px 0 0;" />
                @Html.ActionLink("ShopBanHang", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <form class="form-inline">
                    <input class="form-control mr-sm-3" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">

                </form>

            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav" style="float: left; position: static;">
                    <li>
                        <a href="#" title="dienthoai">

                            <span>ĐIỆN THOẠI</span>

                        </a>

                    </li>

                    <li>
                        <a href="#" title="PHUKIEN">
                            @*<span><i class="fas fa-desktop"></i></span>*@
                            <span>PHỤ KIỆN</span>

                        </a>
                    </li>
                    <li>
                        <a href="/Home/Contact" title="LIENHE">
                            @*<span><i class="fas fa-headphones"></i></span>*@
                            <span>LIÊN HỆ</span>

                        </a>
                    </li>
                    <li>
                        <a style="color:white"
                           class="nav-link"
                           href="@Url.Action("Index", "DonHangs")">ĐƠN HÀNG</a>
                    </li>

                    @{
                        if (5 == 2)
                        {
                            <li>
                                <a style="" href="/User/DangXuat">
                                    Xin chào : @*@u.Email*@
                                    &nbsp;
                                    ĐĂNG XUẤT
                                </a>

                            </li>
                        }
                        else
                        {

                            <li style="display: inline-block;  margin-left: 15px"><a style="margin: 10px 7px 10px 10px; padding: 5px 5px 5px 5px; font-size: 15px; background-color: darkslategray; border-radius: 3px" href="/User/Dangky">Đăng ký</a></li>

                            <li style="display: inline-block; "><a style="margin: 10px 10px 10px 7px; padding: 5px 5px 5px 5px; font-size: 15px; background-color: darkslategray; border-radius: 3px" href="/User/Dangnhap">Đăng nhập</a></li>

                        }
                    }


                </ul>
                <form class="d-flex" style="float: right">
                    <a style="padding: 0">
                        <img class="navbar-brand" src="~/HinhAnhSP/giohang.png" width="50" height="50" style="padding:0; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; float: right" />
                    </a>
                </form>

                <!--<div class="" style="float: right; position: relative">


                <div class="navbar-brand" style="float: left">-->
                @*<div class="col-sm-4 col-md-0" style="font-size:large" style="padding: 20px 20px">Error Team</div>*@


                <!--<!--<div class="col-sm-4 col-md-0" style="padding-left:250px">-->
                <!--@*@Html.Action("GioHangPartial", "GioHang", new { @class = "giohang" })*@-->
                <!--</div>-->
                <!--</div>

                </div>-->
            </div>


        </div>
    </div>


    <br>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>
            <img class="img-responsive" src="~/HinhanhSP/ban2.jpg" />
        </div>
        <br />
    </div>
    <footer class="bg-info" style="padding-left:50px">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h2>Bảo hành</h2>
                <span>Chính sách mua hàng</span>
                <br />
                <span>Chính sách bảo hành</span>
                <br />
                <span>Trung tâm bảo hành</span>
                <br />
                <span>Tra cứu bảo hành</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Liên kết</h2>
                <span>Tin tức Mobile</span>
                <br />
                <span>Lập trình Web</span>
                <br />
                <span>Công nghệ số</span>



            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Thông tin</h2>
                <span>Về chúng tôi</span>
                <br />
                <span>Liên hệ</span>
                <br />
                <span>Góp ý</span>

            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Theo dõi</h2>
                <span>Kênh youtube</span>
                <br />
                <span>Fanpage</span>
                <br />
                <span>Shopee</span>


            </div>
        </div>
        <hr />
        <center> <p class="bg-primary">&copy; @DateTime.Now.Year - Error Team</p></center>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
